%li.item-index__box__container__content__products
  = link_to "#" do
    .item-index__box__container__content__products__product
      .item-index__box__container__content__products__product__area
        = image_tag "/free.jpg", class:"item-index__box__container__content__products__product__area__image"
        .item-index__box__container__content__products__product__area__price ¥6,500
      .item-index__box__container__content__products__product__body
        .item-index__box__container__content__products__product__body__text
          新品未使用 スコットクラブ ボーダー ニット コート