.sell_btn {
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 1000;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  margin: 0 20px 20px;

  &__text {
    height: 22px;
    width: 160px;
    margin: 32px 0 5px;
    font-size: 22px;
    color: #fff;
  }

  &__icon {
    height: 65px;
    width: 160px;
  }
}