.label_required {
  height: 19px;
  width: 32px;
  color: #fff;
  background-color: #EA352D;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  line-height: 19px;
}

.label_any {
  height: 19px;
  width: 32px;
  color: #fff;
  background-color: #CCCCCC;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  line-height: 19px;
}