.other__profile__group__box
  =link_to "#" do
    .other__profile__group__box__top
      = image_tag "/image/1/oneisan-1.jpg", class: "other__profile__group__box__top__image"
    .other__profile__group__box__body
      %h3.other__profile__group__box__body__text
        fifth コンパクトリブニットカーディガン ベージュ
      .other__profile__group__box__body__bottom
        .other__profile__group__box__body__bottom__left
          ¥1,200
        .other__profile__group__box__body__bottom__right
          %i.far.fa-heart
          7