%li.item-index__box__container__content__products
  = link_to product_path(product.id) do
    .item-index__box__container__content__products__product
      .item-index__box__container__content__products__product__area
        - product.images.each do |image|
          = image_tag image.image_url.url, class:"item-index__box__container__content__products__product__area__image"
        .item-index__box__container__content__products__product__area__price
          = number_to_currency(product.price, unit: "¥", format: "%u%n", precision: 0)
      .item-index__box__container__content__products__product__body
        .item-index__box__container__content__products__product__body__text
          = product.name